# macOS
.DS_Store

# Python
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist/
build/

# Jupyter
.ipynb_checkpoints

# Secrets
.streamlit/secrets.toml
.env
.env.local

# Node
node_modules
npm-debug.log*

# Next.js
web/.next
web/out

# Vercel
.vercel
